<?xml version="1.0" encoding="utf-8"?>
<!--
MASAS View Tool
Updated: Nov 14, 2012
Independent Joint Copyright (c) 2012 MASAS Contributors.  Published
under the Modified BSD license.  See license.txt for the full text of the license.
-->
<widget xmlns:rim="http://www.blackberry.com/ns/widgets" version="0.0.0.0" rim:header="RIM-Widget:rim/widget" xmlns="http://www.w3.org/ns/widgets">

    <!--This has been removed for performance improvements -->
    <!--rim:navigation mode="focus" /-->

    <name>MASAS Mobile</name>
    <description>MASAS Mobile Application for BlackBerry.</description>
    <author email=""
            href="http://www.masas-x.ca/"
            rim:copyright="Independent Joint Copyright (c) 2012 MASAS Contributors."></author>
    <license>
        Modified BSD License

        Independent Joint Copyright (c) 2012 MASAS Contributors.
        See authors.txt for a list of these Contributors.

        All rights reserved.

        Redistribution and use in source and binary forms, with or without
        modification, are permitted (subject to the limitations in the
        disclaimer below) provided that the following conditions are met:

        * Redistributions of source code must retain the above copyright
        notice, this list of conditions and the following disclaimer.

        * Redistributions in binary form must reproduce the above copyright
        notice, this list of conditions and the following disclaimer in the
        documentation and/or other materials provided with the
        distribution.

        * Neither the name of MASAS nor the names of its Contributors
        may be used to endorse or promote products derived from this
        software without specific prior written permission.

        THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND
        CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES,
        INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
        MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
        DISCLAIMED. IN NO EVENT SHALL MASAS BE LIABLE FOR ANY
        DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
        CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
        PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
        DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED
        AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
        LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
        IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
        OF THE POSSIBILITY OF SUCH DAMAGE.
    </license>

    <icon rim:hover="false" src="res/icon/MASAS-Mobile_icon.png" />
    <icon rim:hover="true" src="res/icon/MASAS-Mobile_icon.png" />

    <rim:loadingScreen backgroundColor="#CFCFCF"
                       foregroundImage="res/screen/MASAS-Mobile.png">
        <rim:transitionEffect type="fadeOut" />
    </rim:loadingScreen>

    <content src="index.html"/>

    <rim:permissions>
        <rim:permit>access_shared</rim:permit>
        <rim:permit>record_audio</rim:permit>
        <rim:permit>read_geolocation</rim:permit>
        <rim:permit>use_camera</rim:permit>
        <rim:permit>read_device_identifying_information</rim:permit>
    </rim:permissions>

    <!-- Cordova API -->
    <feature id="org.apache.cordova" required="true" version="1.0.0" />

    <!-- BlackBerry WebWorks API -->
    <feature id="blackberry.system" required="true" version="1.0.0.0" />
    <feature id="blackberry.identity" required="true" version="1.0.0.0" />
    <feature id="blackberry.io.file" required="true" version="1.0.0.0" />
    <feature id="blackberry.utils" required="true" version="1.0.0.0" />
    <feature id="blackberry.io.dir" required="true" version="1.0.0.0" />
    <feature id="blackberry.app" required="true" version="1.0.0.0" />
    <feature id="blackberry.app.event" required="true" version="1.0.0.0" />
    <feature id="blackberry.system.event" required="true" version="1.0.0.0"/>
    <feature id="blackberry.media.camera" />
    <feature id="blackberry.media.microphone" required="true" version="1.0.0.0"/>
    <feature id="blackberry.invoke" required="true" version="1.0.0.0"/>
    <feature id="blackberry.invoke.BrowserArguments" required="true" version="1.0.0.0"/>
    <feature id="blackberry.ui.dialog" required="true" version="1.0.0.0"/>
    <feature id="blackberry.ui.menu" required="true" version="1.0.0.0"/>

    <access subdomains="true" uri="file:///store/home" />
    <access subdomains="true" uri="file:///accounts" />
    <access subdomains="true" uri="file:///SDCard" />
    <access subdomains="true" uri="*" />
    <access subdomains="true" uri="http://www.openstreetmap.org" />
    <access subdomains="true" uri="http://nominatim.openstreetmap.org" />

    <rim:connection timeout="15000">
        <id>MDS</id>
        <id>BIS-B</id>
        <id>TCP_WIFI</id>
        <id>TCP_CELLULAR</id>
        <!--id>WAP2</id-->
        <!--id>WAP</id-->
    </rim:connection>

    <rim:cache disableAllCache="false" />

</widget>