/*
    Supported devices:
        - BlackBerry PlayBook (1024x600)
        - BlackBerry Bold 9900 (640x480)
*/

.ui-masas-index-btn {
    height: 100px;
    line-height: 100px;
}

.ui-masas-index-btn .ui-btn-inner {
    font-size: 24px;
    padding: 0;
}

.ui-masas-bb7-btn {
    height:54px;
    line-height:54px;
}

.ui-masas-bb7-btn .ui-btn-inner {
    padding: 0;
}

.ui-masas-no-padding {
    padding:0;
}

.ui-masas-entry-delete-button {
    display: none;
}

#viewAttachment_previewImage {
    display: block;
    margin: 1em auto 0;
    width: 95%;
}

#main_disclaimer {
    font-size: 1.25em;
    color: red;
    text-align:center;
}

.report_icon_wrapper {
    padding:1px 10px 1px 1px;
    text-align:center;
    float:left;
}

#viewReport_rightPanel {
    display: none;
}

#viewReport_toolPanel {
    display: none;
}

#viewMASAS_entryPanel {
    overflow:scroll;
    overflow-y:scroll;
    overflow-x:hidden;
    display:none;
}

#viewMASAS_entryContentPanel {
    margin: 15px;
}

.masas-tab-panel,
#viewMASAS_entryContentPanelDetails,
#viewMASAS_entryContentPanelAttachments,
#viewMASAS_entryContentPanelXML {
    border: 1px solid #d3d3d3;
    border-top-style: none;
    padding: .6em;
}

#viewMASAS_lstEntries {
    margin:0px;
    padding: 0;
    width:100%;
    overflow:scroll;
    overflow-y:scroll;
    overflow-x:hidden;
}

#viewMASAS_previewText {
    margin-top: 25px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
}

#viewMASAS_previewText::-webkit-scrollbar,
#viewMASAS_entryPanel::-webkit-scrollbar,
#viewMASAS_lstEntries::-webkit-scrollbar {
    width: 6px;
}

#viewMASAS_previewText::-webkit-scrollbar-track,
#viewMASAS_entryPanel::-webkit-scrollbar-track,
#viewMASAS_lstEntries::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 3px 3px rgba(0,0,0,0.1);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#viewMASAS_previewText::-webkit-scrollbar-thumb,
#viewMASAS_entryPanel::-webkit-scrollbar-thumb,
#viewMASAS_lstEntries::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(176,196,222,1);
    -webkit-box-shadow:inset 0 0 3px 3px rgba(0,0,0,0.1);
}

#viewMASAS_previewText::-webkit-scrollbar-thumb:window-inactive,
#viewMASAS_entryPanel::-webkit-scrollbar-thumb:window-inactive,
#viewMASAS_lstEntries::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.9);
}

#viewMASAS_popupPanel-popup {
    right: 0 !important;
    left: auto !important;
    overflow:hidden;
}

#viewMASAS_popupPanel {
    width: 200px;
    border: 1px solid #000;
    border-right: none;
    background: rgba(0,0,0,.5);
    margin: -1px 0;
}

#viewMASAS_popupPanel .ui-btn {
    /*margin: 2em 15px;*/
    margin: 1em 15px;
}

.ui-masas-entry-li {
    border: 1px solid 		#ccc /*{c-bup-border}*/;
    background: 			#eee /*{c-bup-background-color}*/;
    font-weight: bold;
    color: 					#222 /*{c-bup-color}*/;
    text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #fff /*{c-bup-shadow-color}*/;
}

#viewMASAS_lstEntries .ui-btn-up-c {
    border: 1px solid 		#ccc /*{c-bup-border}*/;
    background: 			#eee /*{c-bup-background-color}*/;
    font-weight: bold;
    color: 					#222 /*{c-bup-color}*/;
    text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #fff /*{c-bup-shadow-color}*/;
}

#viewMASAS_lstEntries .ui-btn-hover-c {
    border: 1px solid 		#bbb /*{c-bhover-border}*/;
    background: 			#dfdfdf /*{c-bhover-background-color}*/;
    font-weight: bold;
    color: 					#222 /*{c-bhover-color}*/;
    text-shadow: 0 /*{c-bhover-shadow-x}*/ 1px /*{c-bhover-shadow-y}*/ 0 /*{c-bhover-shadow-radius}*/ #fff /*{c-bhover-shadow-color}*/;
    /*background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 *//*{c-bhover-background-start}*//*), to( #e0e0e0 *//*{c-bhover-background-end}*//*)); *//* Saf4+, Chrome */
    /*background-image: -webkit-linear-gradient( #f6f6f6 *//*{c-bhover-background-start}*//*, #e0e0e0 *//*{c-bhover-background-end}*//*); *//* Chrome 10+, Saf5.1+ */
    /*background-image:    -moz-linear-gradient( #f6f6f6 *//*{c-bhover-background-start}*//*, #e0e0e0 *//*{c-bhover-background-end}*//*); *//* FF3.6 */
    /*background-image:     -ms-linear-gradient( #f6f6f6 *//*{c-bhover-background-start}*//*, #e0e0e0 *//*{c-bhover-background-end}*//*); *//* IE10 */
    /*background-image:      -o-linear-gradient( #f6f6f6 *//*{c-bhover-background-start}*//*, #e0e0e0 *//*{c-bhover-background-end}*//*); *//* Opera 11.10+ */
    /*background-image:         linear-gradient( #f6f6f6 *//*{c-bhover-background-start}*//*, #e0e0e0 *//*{c-bhover-background-end}*//*);*/
}

/* copy of JQM's .ui-btn-active */
#viewMASAS_lstEntries .ui-masas-list-item-selected {
    border: 1px solid 		#2373a5 /*{global-active-border}*/;
    background: 			#5393c5 /*{global-active-background-color}*/;
    font-weight: bold;
    color: 					#fff /*{global-active-color}*/;
    cursor: pointer;
    text-shadow: 0 /*{global-active-shadow-x}*/ 1px /*{global-active-shadow-y}*/ 1px /*{global-active-shadow-radius}*/ #3373a5 /*{global-active-shadow-color}*/;
    text-decoration: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #5393c5 /*{global-active-background-start}*/), to( #6facd5 /*{global-active-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #5393c5 /*{global-active-background-start}*/, #6facd5 /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #5393c5 /*{global-active-background-start}*/, #6facd5 /*{global-active-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #5393c5 /*{global-active-background-start}*/, #6facd5 /*{global-active-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #5393c5 /*{global-active-background-start}*/, #6facd5 /*{global-active-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #5393c5 /*{global-active-background-start}*/, #6facd5 /*{global-active-background-end}*/);
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}

@media all and (min-width:800px)

{
/*
    Supported devices:
        - BlackBerry PlayBook (1024x600)
*/

    .ui-masas-left-panel {
        float:left;
        width:30%;
    }

    .ui-masas-right-panel {
        float:right;
        width:70%;
    }

    /*#viewReport_leftPanel {*/
        /*float:left;*/
        /*width:35%;*/
    /*}*/

    /*#viewReport_rightPanel {*/
        /*display: block;*/
        /*float:right;*/
        /*width:62%;*/
    /*}*/

    #viewMASAS_lstEntries {
        margin:0px;
        padding: 0;
        width:100%;
        overflow:scroll;
        overflow-y:scroll;
        overflow-x:hidden;
    }

    #viewMASAS_mapContent {
        background-color: #FFFFFF;
        padding:0;
        width:100%;
    }

    #map_canvas {
        padding:0;
        width:100%;
        height:100%;
    }

    #entryPage_lblSymbol {
        vertical-align: top;
        display: inline-block;
        width: 20%;
        margin: 0 2% 0 0;
    }
    #entryPage_symbolPanel {
        vertical-align: top;
        width: 68%;
        display: inline-block;
    }

    #entryPage_symbol {
        padding-left: 1%;
        width: 6%;
        display: inline-block;
    }

}
